<strong>{{ nombre}} - {{ciudad}}</strong>

<br><br>




<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">NOMBRE</th>
            <th scope="col">EDITORIAL</th>
            <th scope="col">TEMATICA</th>
            <th scope="col">NUMERO-PAGINAS</th>
            <th scope="col">PRECIO</th>
            <th scope="col">AUTORES</th>
            <th scope="col">aCOLOR</th>
            <th scope="col">FECHA-VENTA</th>
            <th scope="col">ESTADO</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody *ngFor="let comic of Arraycomic, let index= index">
        <tr>
            <th scope="row">{{comic.id}}</th>
            <td> {{comic.nombre}}</td>
            <td> {{comic.editorial}}</td>
            <td> {{comic.tematica}}</td>
            <td>{{comic.numeroPaginas}}</td>
            <td> {{comic.precio}}</td>
            <td> {{comic.autores}}</td>
            <td> {{comic.aColor}}</td>
            <td> {{comic.fechaVenta}}</td>
            <td> {{comic.estado}}</td>

            <td> <button type="button" class="btn btn-danger" (click)="deleteArraycomic(index)">Eliminar</button></td>
        </tr>

    </tbody>
</table>

<br>
<strong>Introducir el ID del comic que desea eliminar</strong><br>
<input type="text" [(ngModel)]="deleteDato">
<br>
<button type="button" class="btn btn-danger" (click)=" deleteIdComic()">Eliminar</button>
<br>
<br>
<div class="alert alert-danger" role="alert" *ngIf="NombreComicBorrado">
    <strong>Comic {{nombreComic}} eliminado... </strong>

</div>